.hittle {
    color: red;
}
#ni {
    color: green;
}
#san {
    color: rgba(207, 207, 4, 0.89);
}
#yone {
    color: rgb(3, 198, 233);
}
#roku {
    color: rgb(77, 3, 95);
}
#tony {
    color: rgb(103, 255, 73);
}
#go {
    color: rgb(0, 16, 247);
}
#to {
    color: blueviolet;
}
#the {
    color: rgb(160, 7, 65);
}