h1 {
    color: rgb(0, 102, 0);
}
#haki0 {
    margin-left: 3px;
}
#haki1 {
    color: red;
}
#haki {
    width: 460px;
    height: 440px;
    border: solid rgb(0, 0, 0);
} 
#haki2 {
    color: blue;
}
#haki3 {
    color: red;
}
#haki4 {
   display: inline-block;
   width: 400px;
   height: 150px; 
   border: 2px solid blue;
   border-left-width: 3px;
   margin-left: 30px;
   margin-bottom: 30px;
   background-color: rgba(56, 34, 182, 0.144);
}
#haki5 {
    font-size: 18px;
}